{% extends "main.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='form.css') }}">
  <script>
        // Mapping of the OutputFormat parameter of the SynthesizeSpeech API
        // and the audio format strings understood by the browser
        var AUDIO_FORMATS = {
            'ogg_vorbis': 'audio/ogg',
            'mp3': 'audio/mpeg',
            'pcm': 'audio/wave; codecs=1'
        };

        /**
         * Returns a list of audio formats supported by the browser
         */
        function getSupportedAudioFormats(player) {
            return Object.keys(AUDIO_FORMATS)
                .filter(function (format) {
                    var supported = player.canPlayType(AUDIO_FORMATS[format]);
                    return supported === 'probably' || supported === 'maybe';
                });
        }

        // Initialize the application when the DOM is loaded and ready to be
        // manipulated
        $( document ).ready(function() {
            var player = document.getElementById("player")
            var supportedFormats = getSupportedAudioFormats(player);
            $('#output_format').val(supportedFormats[0]);
            player.play()   // Plays Polly output on reload after submit

            // Display a message and don't allow submitting the form if the
            // browser doesn't support any of the available audio formats
            if (supportedFormats.length === 0) {
                submit.disabled = true;
                alert('The web browser in use does not support any of the' +
                      ' available audio formats. Please try with a different' +
                      ' one.');
            }

            $('#upload').click(function() {
                $('#upload').prop('disabled', true);
            })

            // Needs refactoring
            if($('#text').val()) {
                $('#test_text').val($('#text').val());
            }

            if($('#test_text').val()) {
                $('#text').val($('#test_text').val());
            }

            if($('#voiceId').val() != 'Joanna') {
                $('#test_voiceId').val($('#voiceId').val());
            }

            if($('#test_voiceId').val() != 'Joanna') {
                $('#voiceId').val($('#test_voiceId').val());
            }

            $('#text').bind('keypress keyup blur', function() {
                $('#test_text').val($(this).val());
            });

            $('#test_text').bind('keypress keyup blur', function() {
                $('#text').val($(this).val());
            });

            $('#voiceId').bind('change', function() {
                $('#test_voiceId').val($(this).val());
            });

            $('#test_voiceId').bind('change', function() {
                $('#voiceId').val($(this).val());
            });
        });
    </script>

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="page-header">Model Example</h1>
                <audio id="player" {% if audio_src %}src="{{ audio_src }}"{% endif%} controls></audio>
                <div class="form">
                    <form class="form-horizontal" method="POST" action="/">
                        {{ polly_form.csrf_token }}
                        <div class="form-group {% if polly_form.voiceId.errors %} has-error {% endif %}">
                            {{ polly_form.voiceId.label(class="col-sm-2") }}
                        <div class="col-sm-7">
                            {{ polly_form.voiceId(class="form-control") }}
                        </div>
                        <p class="col-sm-3 help-block">
                            {{ polly_form.voiceId.errors[0] }}
                        </div>
                        <div class="form-group {% if polly_form.text.errors %} has-error {% endif %}">
                            {{ polly_form.text.label(class="col-sm-2")}}
                        <div class="col-sm-7">
                            {{ polly_form.text(placeholder="Type the text you want to practice here...", class="form-control", rows="3") }}
                        </div>
                        <p class="col-sm-3 help-block">
                            {{ polly_form.text.errors[0] }}
                        </div>
                        {{ polly_form.output_format }}
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <h1 class="page-header">Test Yourself</h1>
                <div class="form">
                    <form enctype="multipart/form-data" class="form-horizontal" id="upload-form" method="POST" action="/test">
                        {{ test_form.csrf_token }}
                        <div class="form-group {% if test_form.test_voiceId.errors %} has-error {% endif %}">
                            {{ test_form.test_voiceId.label(class="col-sm-2") }}
                        <div class="col-sm-7">
                            {{ test_form.test_voiceId(class="form-control") }}
                        </div>
                        <p class="col-sm-3 help-block">
                            {{ test_form.test_voiceId.errors[0] }}
                        </div>
                        <div class="form-group {% if test_form.test_text.errors %} has-error {% endif %}">
                            {{ test_form.test_text.label(class="col-sm-2")}}
                        <div class="col-sm-7">
                            {{ test_form.test_text(placeholder="Type the text you want to practice here...", class="form-control", rows="3") }}
                        </div>
                        <p class="col-sm-3 help-block">
                            {{ test_form.test_text.errors[0] }}
                        </div>
                        <div class="form-group {% if test_form.file.errors %} has-error {% endif %}">
                            {{ test_form.file.label(class="col-sm-2") }}
                        <div class="col-sm-7">
                            {{ test_form.file }}
                        </div>
                        <p class="col-sm-3 help-block">
                            {{ test_form.file.errors[0] }}
                        </div>
                        {% if results %}
                            <div class="form-group">
                                <label class="col-sm-2">Results</label>
                                <div class="col-sm-10">
                                    <p>
                                        Speed: {{ results['speed'] }}%
                                    </p>
                                    <p>
                                        Voice: {{ results['voice'] }}%
                                    </p>
                                    <p>
                                        Accuracy: {{ results['accuracy'] }}%
                                    </p>
                                    <p>
                                        Grade: {{ results['grade'] }}
                                    </p>                                 
                                </div>
                            </div>
                        {% endif %}
                        <input type="submit" id="upload" value="Upload" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


