<!DOCTYPE html>
<html lang="en">
	<head>
	    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <title>Accent Trainer - {% block title %}{% endblock %}</title>
        {% endblock %}
	</head>
	<body>
    	<nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ url_for('index') }}">Accent Trainer</a>
                </div>
            </div>
        </nav>
        <div class = 'flash'>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                  
                <ul>
                {% for message in messages %}
                    <li> <strong> {{ message }} </strong> </li>
                {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
        </div>
		{% block content %}
		{% endblock %}
	</body>
</html>