{% extends "main.html" %}
{% block title %}Create Item{% endblock %}
{% block head %}
  {{ super() }}
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='form.css') }}">
{% endblock %}
{% block content %}
    <div class="container">
      <div class="form">
        <h1 class="page-header">Create Item</h1>
        <form method="POST" enctype="multipart/form-data" action="/test/ok">
          <p><input type=file name=file>
             <input type=submit value=Upload>
        </form>
      </div>
    </div>
{% endblock %}
